body{background-color: #C2C5CE;}
#tablaParaAnadir{display: none;}

#contenido{
    background-color: #6f859cb9;
    border-radius: 1rem;
}
#contenido h1{
    transition: all ease-in-out 0.5s;
    font-family: monospace;
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 2px white;
}
#contenido h1:hover{
    color: white;
    text-shadow: 3px 2px black;
    transition: all ease-in-out 0.5s;
}

/* From uiverse.io by @felipesntr */
#btnCrearTarea {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}

#btnCrearTarea span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

#btnCrearTarea:hover {
    background-color: #0071e2;
}

/* From uiverse.io by @adamgiebl */
#btnagregar {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}

#btnagregar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
}

#btnagregar span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

#btnagregar:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
}

#btnagregar:hover {
    color: white;
}

#btnagregar:active span::before {
    background: #2751cd;
}

/* From uiverse.io */
button {
 width: 150px;
 height: 50px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
}

button, button span {
 transition: 200ms;
}

button .text {
 transform: translateX(35px);
 color: white;
 font-weight: bold;
}

button .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(110px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

button svg {
 width: 15px;
 fill: #eee;
}

button:hover {
 background: #ff3636;
}

button:hover .text {
 color: transparent;
}

button:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

button:focus {
 outline: none;
}

button:active .icon svg {
 transform: scale(0.8);
}

#anadirTabla{
    background-color: #bdbcbb;
}