body{background-color: aliceblue;}
#bloque{background-color: #c8d0e6;}
#bloque h1{
    color: #000;
    text-shadow: 2px 1.5px #F1E8E3;
}

#contenido button{
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

#contenido button::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
}
#contenido button::before{
    content: "";
    background: linear-gradient(
    45deg,
    #FF0000, #002BFF, #FF00C8, #002BFF,
    #FF0000, #002BFF, #FF00C8, #002BFF);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#contenido button:hover::before{
    opacity: 1;
}
#contenido button:hover::after{
    background: transparent;
}

#contenido button:active{
    color: #000;
    font-weight: bold;
}

/**/
#txtLista{
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
}
#txtlista{
    box-shadow: 2px 2px 15px #8707ff inset;
}